NODE_ENV=development 
PORT=5000 
DATABASE_URL=DATABASE_URL="postgresql://neondb_owner:npg_QJKCF0nYEP2h@ep-shy-bread-ad1k1sfb-pooler.c-2.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
FRONTEND_URL=http://localhost:3000
